body, html {
    height: 100%;
  
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/img-band2.jpg);

  /* Set a specific height */
  min-height: 40vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  *background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  opacity: 1;
}
p {
    size: 30px;
    font-family: 'New Tegomin', serif;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  /*font-family: 'New Tegomin', serif; */
  font-family: 'New Tegomin', serif;
  
}

div {
  padding:10px;
}

nav {
  background-color: darkgray;
  margin-bottom: 10px;
  padding-bottom: 10px;

}



footer {
position: absolute;
width: 100%;
bottom: 0;
margin: 0px;
background-color: grey;
}