:root {
  --bg: #34373f;
  --blue: #66a0a0;
  --tan: #ccc0a5;
  --white: rgb(230, 227, 227);
  --pink: #eed0c2;
}

.light-mode {
  --bg: #b9b8b1;
  --blue: #71a7a7;
  --tan: #f5e0b8;
  --white: rgb(59, 56, 56);
  --pink: #978e82;
}

a {
  color: var(--tan);
}

#list-group {
  font-size: 25px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: var(--blue);
  text-transform: capitalize;
}

#circle {
  stroke: var(--tan);
  stroke-width: 1rem;
}
header {
  color: var(--blue);
  background-color: var(--bg);
  font-size: 75px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

#toggle {
  font-family: "Quicksand", sans-serif;
  color: var(--pink);
  margin: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
span {
  font-weight: 200;
}

span b {
  font-weight: 700;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

#page-info {
  display: flex;
  justify-content: center;
  border-style: none solid none solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: var(--pink);
  font-weight: 500;
  font-size: 25px;
  color: var(--pink);
  padding-left: 20px;
  margin-left: 13px;
  width: 90%;
  max-width: 336px;
  line-height: normal;
}

.artist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
  text-transform: capitalize;
  padding-bottom: 15px;
}

.control {
  padding: 0%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
.input {
  /* background: linear-gradient(
    266deg,
    #da8c7c,
    #6265b3,
    #a79d54,
    #b37b9d,
    #709763
  ); */
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;

  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 10px;
  width: 80%;
  background-color: var(--white);
  color: var(--bg);
}

.column {
  justify-content: center;
  text-align: center;
  color: var(--blue);
}

.columns {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.player_container {
  justify-content: center;
}

ul.more {
  list-style-type: none;
  margin: 0%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--pink);
  width: auto;
  border-radius: 10px;
}

#songs {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}

#albums {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}

.image {
  display: flex;
  justify-content: center;
  background-color: var(--pink);
  border-radius: 10px;
}

.box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  mix-blend-mode: multiply;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 300px;
  height: 300px;
  background-color: var(--pink);
  border-radius: 10px;
}

.btn {
  width: 40px;
  height: 40px;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: none;
  border: none;
  border-radius: 10px;
}
