:root {
  --bg: #303242;
  --blue: #b6b6b6;
  --tan: #cec7b7;
  --white: rgb(255, 255, 255);
  --pink: #b8abab;
}

.light-mode {
  --bg: #dcdbdf;
  --blue: #8292af;
  --tan: #f5e0b8;
  --white: rgb(255, 255, 255);
  --pink: #bacbdb;
}

a {
  color: var(--tan);
}

#list-group {
  font-size: 25px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: var(--blue);
  text-transform: capitalize;
}

header {
  color: var(--blue);
  background-color: var(--bg);
  font-size: 75px;
  display: flex;
  justify-content: left;
  width: 100vw;
  margin: 0rem 0rem 3rem 3rem;
}

#toggle {
  font-family: "Quicksand", sans-serif;
  color: var(--blue);
  margin: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

span {
  font-weight: 200;
}

span b {
  font-weight: 700;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

#page-info {
  display: flex;
  justify-content: center;
  border-style: none solid none solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: var(--pink);
  font-weight: 500;
  font-size: 25px;
  color: var(--pink);
  padding-left: 20px;
  margin-left: 13px;
  /* width: 90%; */
  height: 100%;
  line-height: normal;
}

.artist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
  text-transform: capitalize;
  padding-bottom: 15px;
}

.control {
  padding: 0%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.input {
  background: linear-gradient(
    266deg,
    #e48977,
    #6568d4,
    #b5db4d,
    #ac4482,
    #53af35
  );
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
  outline: none;
  border-style: hidden;
  border-radius: 10px;
  width: 80%;
  color: var(--white);
}

.player_container {
  justify-content: center;
}

ul.more {
  list-style-type: none;
  margin: 0%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--pink);
  width: auto;
  border-radius: 10px;
}

#songs {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}

#albums {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}

.image {
  display: flex;
  justify-content: center;
  background-color: var(--pink);
  border-radius: 10px;
}

.box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  mix-blend-mode: multiply;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 300px;
  height: 300px;
  background-color: var(--pink);
  border-radius: 10px;
}

.btn {
  width: 40px;
  height: 40px;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: none;
  border: none;
  border-radius: 10px;
}
