
header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #9d8d8f;
    background-color: #5a5660;
    text-transform:capitalize;
    text-align: center;
    font-size: x-large;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;
 }
    
body {
    background-color: #9d8d8f;
    justify-content: center;
    margin: 0px auto;
    height: 100%;
}
.control {
    padding-top: 10%;
} 

.input {
width: 80%;
}

.column {
    justify-content: center;
    text-align: center;
}
.columns {
    justify-content: center;
    text-align: center;
}

.player_container {
    justify-content: center;

}

.content {
    display: flex;
    justify-content: center;
}
.img {
    justify-content: center;
    padding-top: 10px;
    width: 300px;
    height: 300px;
}

.box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    mix-blend-mode: multiply;
  }
